body {
    background: #2c2c2c;
}

/*#head{

}*/

.nav_head {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: #2c2c2c;
    padding: 2.5%;
    color: #fff;
    border-bottom: 5px solid #4d4d4d;
}

/*.nav1 {

}*/

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 nav ul li {
    color: #fff;
    display: block; 
    margin-top: 20px;
    transition: transform .6s ease;
 }
 nav .nav-link {
     color: #fff;
 }
 
 nav ul li:hover, nav ul a:hover {
     color: #ed5959;
     text-decoration: none;
     transform: scale(1.05);
 }

 .sidenav1 {
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
 }

.sec1 {
    float: left;
    clear: both;
    margin: 20px 34%;
    width: 400px;
    text-align: left;
}

header img {
    width: 100px;
    float: left;
}

header .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 25px;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 15%;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

main .mf1 {
    width: 100%;
    position: relative;
    top: 0px;
    border-radius: 12px;
    image-rendering: auto;
    cursor: pointer;
}

main img {
    display: flex;
    user-select: none;
}

main .mh1 {
    margin: 8px 0px;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}
main .mbut1 {
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 40px;
    padding: 0px 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: transform .06s ease;
    background: #fff;
}
main footer div .mbut1:hover {
    background: #ed5959;
    color: #fff;
    text-decoration: none;
    transform: scale(1.05)
}

.post-form textarea, .post-form input {
    width: 100%;
   }
   