{% extends 'main/layout.html' %}

{% block title %}Меню{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Меню кафе</h1>
        {% for el in item %}
        <section class="sec1">
            <article>
                <main>
                    <figure class="mf1">
                       <img src="" width="100" height="100" alt="Бургер"> 
                    </figure>
                    <h2 class="mh1">
                        {{ el.title }}
                    </h2>
                    {{ el.info }}
                </main>
                <footer>
                    <div>
                        "от" 
                        <span>
                            {{ el.rprise }}
                        </span>
                        <span>
                            "P"
                        </span>
                    </div>
                    <div>
                        <button class="mbut1">
                            Выбрать
                        </button>
                    </div>
                </footer>
            </article>
        </section>
        {% endfor %}
    </div>
{% endblock content %}