{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatibus officiis impedit quibusdam nostrum voluptatem perferendis sit sed quos ad repellat quia in quasi, rerum hic culpa nulla. A, rerum!</p>
        <button class="btn btn-danger">Нажми</button>
    </div>
{% endblock content %}