{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="features">
        <section>
            <article>
                <main>
                    <h1>Пример загаловка</h1>
                    <figure class="mf1">
                       <img src="" width="100" height="100" alt="Бургер"> 
                    </figure>
                    <h2 class="mh1">
                        Название бургера
                    </h2>
                    "Краткая информация"
                </main>
                <footer>
                    <div>
                        "от" 
                        <span>
                            "Сумма"
                        </span>
                        <span>
                            "P"
                        </span>
                    </div>
                    <div>
                        <button class="mbut1">
                            Выбрать
                        </button>
                    </div>
                </footer>
            </article>
        </section>
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatibus officiis impedit quibusdam nostrum voluptatem perferendis sit sed quos ad repellat quia in quasi, rerum hic culpa nulla. A, rerum!</p>
        <button class="btn btn-warning">На страницу про нас</button>

        {% for el in values %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock content %}