{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
    <div id=head class="container">
        <div class="nav_head sidenav1">
            <div class="nav_1">
                <header>
                    <img src="{% static 'main/img/burgers_cafe_logo.png' %}" width="100" height="100" alt="Логотип">
                    <span class="logo">Burgers Cafe</span>
                </header>
            </div>
    
            <div class="nav_2">    
                <nav>
                    <ul class="nav nav-pills"> <!-- Делал CSS для меню, надо закончить. Все еще делаю CSS-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu' %}"><i class="fas fa-utensils"></i> Меню</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'order' %}"><i class="fas fa-utensils"></i> Заказ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}"><i class="far fa-address-book"></i> Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock  %} 
    </main>
</body>
</html>