{% extends 'main/layout.html' %}

{% block title %}Заказ{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Оформление заказа</h1>
        <a href="{% url 'order_new' %}"><button class="btn btn-success" type="submit">Оформить заказ</button></a>
    </div>
{% endblock content %}