{% extends 'main/layout.html' %}

{% block title %}Заказ_Тест{% endblock title %}

{% block content %}
<div class="features">
    <h1>Новая запись в Order</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit">Сохранить</button>
    </form>
<div>
{% endblock content%}

